.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  display: flex;
  flex: 1;
  background: #16181c;
  justify-content: center;
}

.layout-main {
  display: flex;
  flex: 1;
  background: #16181c;
  justify-content: center;
  position: relative;
}

.layout-content {
  flex: 1;
  padding: 2rem 2rem 0 2rem;
  min-height: calc(100vh - 56px);
  max-width: 600px;
  margin-left: 90px;
  margin-right: 0;
}

@media (min-width: 700px) {
  .layout-content {
    margin-left: 250px;
  }
}

@media (min-width: 1100px) {
  .layout-content {
    margin-right: 350px;
  }
}
